@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Poppins:wght@200&family=Press+Start+2P&family=Raleway:ital,wght@0,100;0,200;0,500;1,600&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.container-login {
  display: grid;
  place-items: center;
  font-family: "Press Start 2P", cursive;
  height: 100vh;
}

.container-login img{
  width: 390px;
  z-index: 1;
  /* object-fit: cover; */
}

.form-box {
  position: relative;
  bottom: 640px;
  right: 20px;
  width: 260px;
  height: 130px;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-family: "Press Start 2P", cursive;
}



.container-login h2 {
  position: relative;
  top: 30px;
  font-size: 12px;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

.inputbox {
  position: relative;
  top: 30px;
  margin: 10px 0;
  border-bottom: 1px solid #525252;
  display: flex;
  align-items: center; 
  font-family: "Press Start 2P", cursive;
}

.inputbox input {
  align-self: flex-start; 
  margin: 0;
  padding-bottom: 5px; 
  border: none; 
  outline: none; 
  width: 100%; 
  font-family: "Press Start 2P", cursive;
}



.inputbox label {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  font-size: 1em;
  transition: 0.5s;
}

.input:focus ~ label {
  top: -5px;
}

.input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 260px;
  height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 8px;
  padding: 0 35px 0 10px;
  color: #0c0c0c;
}

.forget {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 40px;
  margin: 8px 0;
  font-size: 8px;
  color: #111111;
  /* font-family: "Press Start 2P", cursive; */
}
.forget label:nth-child(2) {
  order: 1;
}

.forget label {
  display: flex;
  align-items: center;
  font-family: "Press Start 2P", cursive;
}

.forget label input[type="checkbox"] {
  margin-right: 6px;
}

.forget a{
  color: rgb(17, 17, 17);
  text-decoration: none;
  position: relative;
  top: 10px;
  font-family: "Press Start 2P", cursive !important;
}

.forget label a:hover {
  text-decoration: underline;
}

.container-login button {
  width: 30%;
  height: 25px;
  border-radius: 40px;
  border: none;
  font-size: 8px;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
}

.container-login button:hover {
  background-color: #244463;
}

.container-login button:active {
  background-color: #244463;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.login {
  position: relative;
  font-family: "Press Start 2P", cursive;
  top: 130px;
  left: 100px;
  background-color: #244463;
  border-bottom: 2px solid #111111;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.register {
  position: relative;
  top: 180px;
  left: 23px;
  width: 119px;
  font-size: 8px;
  line-height: 1.4;
  color: black;
  text-align: center;
  margin: 0 14px;
  font-family: "Press Start 2P", cursive;
}

.container-login .register a {
  position: relative;
  top: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
}

.register a:hover {
  text-decoration: underline;
}

.error {
  font-size: 6px;
  text-align: center;
}

.success {
  font-size: 6px;
  text-align: center;
}

.red-icon {
  color: #666;
}

.green-icon {
  color: #666;
}

@media (min-width: 1024px) {

  .container-bg {
    display: grid;
    place-items: center;
    margin: auto 30px;
    position: relative; 
  }

  .container-bg::before {
    content: "";
    background-image: url("../../public/images/bola.jpg");
    background-size: cover;
    opacity: 0.5; 
    position: absolute;
    top: 0px;
    /* left: 0; */
    width: 105%;
    height: 100%;
  }
  .container-login img {
    position: relative;
    top: 30px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 20px rgba(0, 0, 0, 0.2);
  }

  .form-box {
    position: relative;
    bottom: 615px;
  }
}


@media (min-width: 768px) {
    .container-bg::before {
        content: "";
        background-image: url("../../public/images/bola.jpg");
        background-size: cover;
        opacity: 0.5; 
        position: absolute;
        top: 0px;
        /* left: 0; */
        width: 105%;
        height: 100%;
      }

      .container-login img {
        position: relative;
        top: 30px;
        border-radius: 15px;
        box-shadow: 1px 1px 5px 20px rgba(0, 0, 0, 0.2);
      }
    
      .form-box {
        position: relative;
        bottom: 615px;
      }
}