.search-bar {
  display: flex;
  flex-direction: column;
}

.pokedex-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 1rem;
  padding-left: 1.2rem;
}

.pokedex-bar img{
  width: 35px;
  height: 35px;
}

.pokedex-bar h1 {
  margin-left: 10px;
  color: #FFFFFF;
}

.pokedex-search {
  position: relative;
  display: inline-block;
  width: 200px;
}

.pokedex-search img {
  width: 25px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: red;
  font-size: 18px;
  cursor: pointer;
}

.pokedex-search input[type="text"] {
  width: calc(160% - 35px);
  padding: 8px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  outline: none;
  padding-left: 50px;
}

.bar-and-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}

.filter button {
  width: 40px;
  border-radius: 80px;
  background-color: white;
}

.filter img {
  width: 30px;
}

.modal {
  width: 113px;
  height: 132px;
  left: 66%; 
  padding: 0px 4px 4px 4px;
  border-radius: 12px;
  border: 0px 0px 0px 4px;
  background-color: #dc0a2d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 100%; 
}

.modal-selection {
  width: 105px;
  height: 80px;
  padding: 16px 20px 16px 10px;
  border-radius: 8px;
  gap: 16px;
  background: #ffffff;
  box-shadow: 0px 1px 3px 1px #00000040 inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title-sort {
  width: 105px;
  height: 48px;
  padding: 16px 20px 16px 20px;
  color: #FFFFFF;
}

.first-check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.first-check input {
  width: 16px;
  height: 16px;
  border-radius: 10px;
}

.second-check input {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #000;
}

.second-check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-selection .first-check input{
  width: 16px;
  height: 16px;
}

.first-check,
.second-check {
  margin-right: 16px;
}

.first-check label,
.second-check label {
  margin-left: 6px;
}

input[type="radio"]:checked {
  content: "";
  accent-color: #dc0a2d;
}


.bar-and-filter {
  position: relative; 
}



